h1{
    text-align: left;
    color: whitesmoke;
    font-size: xx-large;
}
p{
    text-align: left;
    color: whitesmoke;
    font-size: larger;
}
body{
    background-repeat: no-repeat;
       
}