.me{
    text-align: center;
    color: whitesmoke;
   
}
.my-bio{
    text-align: center;
}
body{
    background-color: black;
    color: whitesmoke;
}
footer{
    color: chartreuse;
}


